@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Sacramento&display=swap');
/* Navbar start */
body{
    margin: 0%;
    width: 100vw;
    height: 100vw;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    align-content: flex-start;
}
.navbar{
    display: flex;
    width: 100%;
    height: 70px;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    border: 0.5px solid grey;
    box-shadow: 0.5px 0.5px 10px grey;
    z-index: 98;
}
.navbar-1{
    display: flex;
    width: 50%;
    height: 70px;
}
.logo{
    height: 50px;
    width: 50px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 5px;
}
.name{
    padding-left: 5px;
    padding-right: 5px;
    color: #313132;
    font-family: Roboto Condensed;
    position: relative;
    bottom: 5px;
}
.search{
    height: 20px;
    margin: 23px;
}
.navbar-2{
    display: flex;
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 70px;
}
.wood{
    color: black;
    height: 70px;
    width: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    padding-left: 10px;
}
.wood:hover{
    color: white;
    background-color: black;
}
.wood-1{
    height: 70px;
    width: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
}
.wood-1:hover{
    color: white;
    background-color: black;
}
.wood-2{
    height: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
}
.wood-2:hover{
    color: white;
    background-color: black;
}
.wood-3{
    height: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
}
.wood-3:hover{
    color: white;
    background-color: black;
}
.wood-4{
    height: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
}
.wood-4:hover{
    color: white;
    background-color: black;
}
.link{
    text-decoration: none;
    list-style: none;
    color: black;
}
/* Navbar end */

/* Scrollbar start */
.scroll{
    top: 72px;
    bottom: 0;
    z-index: 2;
    height: 92%;
    width: 300px;
    position: fixed;
    overflow: scroll;
    border: 0.5px solid grey;
    box-shadow: 0.5px 0.5px 3px grey;
}
li{
    list-style: none;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    width: 200px;
    border-radius: 20px;
    color: #495057;
}
li:hover{
    background-color: rgb(78, 76, 76);
    color: white;
    cursor: pointer;
}
.design{
    padding-left: 20px;
}
.special{
    color: #212121;
    padding-left: 0px;
    padding-top: 20px;
    font-size: 1.1rem;
    font-family: Roboto Condensed;
}
.special:hover{
    background-color: white;
    color: black;
    cursor: default;
}
/* scroll end */

/* top container start */
.main{
    display: block;
    position: relative;
    top: 70px;
    left: 300px;
    z-index: 96;
    opacity: 1;
}
.top-container{
    position: relative;
    height: 500px;
    width: 1140px;
    background-image: linear-gradient(to right bottom, #ccdff8, #d3e3f8, #dae7f7, #e1eaf7, #e8eef6);
    left: 0px;
    top: 0;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
}
.tp-1{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 50%;
    padding: 100px 50px;
    justify-content: space-between;
    position: absolute;
    z-index: 80;
}
.perfect{
    color: #495057;
}
.content{
    color: #6D757D;
    font-size: 1.2rem;
}
.time{
    height: 40px;
    width: 500px;
    font-size: 1.2rem;
    box-shadow: 0.5px 0.5px 10px grey;
}
.links{
    width: 150px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.download{
    color: #0078e3;
    text-decoration: none;
    font-size: 1.3rem;
    padding-right: 20px;
}
.github{
    color: #0078e3;
    text-decoration: none;
    font-size: 1.3rem;
    padding-left: 20px;
}
.tp-2{
    height: 500px;
    width: 50%;
    position: relative;
    display: inline;
    left: 50%;
}
.image{
    height: 400px;
    width: 400px;
    position: relative;
    padding-left: 70px;
    padding-top: 50px;
}
/* top container end */

/* middle container start */
